<div class="blogs">
  <h1 class="section-heading">Blogs</h1>
  <div class="container">
    <% if paginate && num_pages > 1 %>
      <p>Page <%= page_number %> of <%= num_pages %></p>

      <% if prev_page %>
        <p><%= link_to 'Previous page', prev_page %></p>
      <% end %>
    <% end %>

    <div class="row">
      <% page_articles.each_with_index do |article, i| %>
      <div class="col-md-6 ">
        <div class="p-1 h-100">
          <div class="blog-card h-100 p-3 d-flex flex-column justify-content-start">
            <div>
              <%= article.summary %>
            </div>
            <div class="mt-auto">
              <%= link_to 'Read more....', article, class: "btn btn-secondary pull-right" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>


    <% if paginate %>
      <% if next_page %>
        <p><%= link_to 'Next page', next_page %></p>
      <% end %>
    <% end %>
  </div>
</div>
