<!-- projects -->
<div class="projects">
  <h1 class="section-heading">Projects</h1>
  <div class="container">
    <%= partial "partials/project", locals: {
      image: 'cvtherapy.png',
      title: 'CV Therapy',
      desc: 'Counseling & Wellness Center with English and Spanish text',
      tools: 'React, Firebase',
      project_link: 'https://www.cvtherapy.org'
    }
    %>
    <%= partial "partials/project", locals: {
      image: 'chomp.png',
      title: 'Choco Chomp',
      desc: 'An app based on the famous game theory game "Chomp".',
      tools: 'Swift, XCode, Mini-Max Algorithm',
      code_link: 'https://github.com/dvcv/Chomp',
      project_link: 'https://itunes.apple.com/us/app/choco-chomp/id1213722025?mt=8'
    }
    %>
    <%= partial "partials/project", locals: {
      image: 'powerball.png',
      title: 'Powerball Simulator',
      desc: 'A simple powerball simulator representing many games played over a lifetime.',
      tools: 'R, Shiny, R-markdown',
      code_link: 'https://github.com/dvcv/Powerball',
      project_link: 'https://dvcv.shinyapps.io/Powerball/'
    }
    %>
    <%= partial "partials/project", locals: {
      image: 'stratified.png',
      title: 'Stratified Sampling',
      desc: 'Estimating the Number of Protestors in the San Francisco Anti-War Protest.',
      tools: 'R, Stratified Sampling',
      code_link: 'https://github.com/dvcv/StratifiedSampling',
      project_link: 'https://github.com/dvcv/StratifiedSampling/blob/master/Stratafied.pdf'
    }
    %>
    <%= partial "partials/project", locals: {
      image: 'arcade.png',
      title: 'Bartop-Arcade',
      desc: 'A custom built bar-top arcade using a rasberrypi.',
      tools: 'Rasberry PI, Power Tools',
      project_link: 'https://imgur.com/a/NyjMW'
    }
    %>
  </div>
</div>
