<!-- projects -->
<div class="projects">
  <h1 class="section-heading">Projects</h1>
  <div class="container">
    <!-- project -->
    <div class="row projects-row">
      <!-- image -->
      <div class="col-md-4">
        <%= image_tag 'drink-journal.png', alt: "Responsive image" %>
      </div>
      <div class="col-md-8 right">
        <div class="projects-content-box">
        <h2 class="project-title">Drink Journal</h2>
          <p>The Drink Journal was created to give you a brief overview of drinks and help you discover new ones.</p>
          <h4>What Was Used:</h4>
          <p class="tech-used">Ruby on Rails, Pagy, PostgresSql, S3 Buckets, Heroku</p>
          <div class="project-buttons">
            <a class="github-button btn btn-secondary" href="https://drink-journal.herokuapp.com" target="_blank">View Project</a>
          </div>
        </div>
      </div>
    </div>
    <!-- project -->
    <div class="row projects-row">
      <!-- image -->
      <div class="col-md-4">
        <%= image_tag 'job-tracker.png', alt: "Responsive image" %>
      </div>
      <div class="col-md-8 right">
        <div class="projects-content-box">
        <h2 class="project-title">Job Tracker</h2>
          <p>Keep track of all your job applications. With maps, cover letters, calendars, and more!</p>
          <h4>What Was Used:</h4>
          <p class="tech-used">Ruby on Rails, Google Maps API, Custom API</p>
          <div class="project-buttons">
            <a class="github-button btn btn-secondary" href="https://job-tracker-dvcv.herokuapp.com" target="_blank">View Project</a>
          </div>
        </div>
      </div>
    </div>
    <!-- project -->
    <div class="row projects-row">
      <!-- image -->
      <div class="col-md-4">
        <%= image_tag "chomp.png", alt: "Responsive image" %>
      </div>
      <div class="col-md-8 right">
        <div class="projects-content-box">
          <h2 class="project-title">Choco Chomp</h2>
          <p>An app based on the famous game theory game "Chomp".</p>
          <h4>What Was Used:</h4>
          <p class="tech-used">Swift, XCode, Mini-Max Algorithm</p>
          <div class="project-buttons">
            <a class="github-button btn btn-secondary" href="https://github.com/dvcv/Chomp" target="_blank">View Code</a>
            <a class = "github-button btn btn-secondary" href="https://itunes.apple.com/us/app/choco-chomp/id1213722025?mt=8" target="_blank">View Project</a>
          </div>
        </div>
      </div>
    </div>
    <!-- project -->
    <div class="row projects-row">
      <!-- image -->
      <div class="col-md-4">
        <%= image_tag 'powerball.png', class: "", alt: "Responsive image" %>
      </div>
      <div class="col-md-8 right">
        <div class="projects-content-box">
          <h2 class="project-title">Powerball Simulator</h2>
          <p>A simple powerball simulator representing many games played over a lifetime.</p>
          <h4>What Was Used:</h4>
          <p class="tech-used">R, Shiny, R-markdown</p>
          <div class="project-buttons">
            <a class="github-button btn btn-secondary" href="https://github.com/dvcv/Powerball" target="_blank">View Code</a>
            <a class = "github-button btn btn-secondary" href="https://dvcv.shinyapps.io/Powerball/" target="_blank">View Project</a>
          </div>
        </div>
      </div>
    </div>
    <!-- project -->
    <div class="row projects-row">
      <!-- image -->
      <div class="col-md-4">
        <%= image_tag 'stratified.png', alt: "Responsive image" %>
      </div>
      <div class="col-md-8 right">
        <div class="projects-content-box">
          <h2 class="project-title">Stratified Sampling</h2>
          <p>Estimating the Number of Protestors in the San Francisco Anti-War Protest.</p>
          <h4>What Was Used:</h4>
          <p class="tech-used">R, Stratified Sampling</p>
          <div class="project-buttons">
            <a class="github-button btn btn-secondary" href="https://github.com/dvcv/StratifiedSampling" target="_blank">View Code</a>
            <a class = "github-button btn btn-secondary" href="https://github.com/dvcv/StratifiedSampling/blob/master/README.rmd" target="_blank">View Project</a>
          </div>
        </div>
      </div>
    </div>
    <!-- project -->
    <div class="row projects-row">
      <!-- image -->
      <div class="col-md-4">
        <%= image_tag 'text-destroyer.png', alt: "Responsive image" %>
      </div>
      <div class="col-md-8 right">
        <div class="projects-content-box">
          <h2 class="project-title">Text Destroyer</h2>
          <p>A sticker app to destroy your friends text.</p>
          <h4>What Was Used:</h4>
          <p class="tech-used">XCode</p>
          <div class="project-buttons">
            <a class="github-button btn btn-secondary" href="https://itunes.apple.com/us/app/text-destroyer/id1230029777?mt=8" target="_blank">View Code</a>
            <a class = "github-button btn btn-secondary" href="https://imgur.com/a/Cdnfb" target="_blank">View Project</a>
          </div>
        </div>
      </div>
    </div>
    <!-- project -->
    <div class="row projects-row">
      <!-- image -->
      <div class="col-md-4">
        <%= image_tag 'arcade.png', alt: "Responsive image" %>
      </div>
      <div class="col-md-8 right">
        <div class="projects-content-box">
          <h2 class="project-title">Bartop-Arcade</h2>
          <p>A custom built bar-top arcade using a rasberrypi.</p>
          <h4>What Was Used:</h4>
          <p class="tech-used">Rasberry PI, Power Tools</p>
          <div class="project-buttons">
            <a class="github-button btn btn-secondary" href="https://imgur.com/a/NyjMW" target="_blank">View Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
